{% extends "layout.html"%}

{% block title %}{{title}}{% end %}
{% block content %}
<h4>Choose File</h4>
<form target="_blank" action="/sca/process" method="POST" enctype="multipart/form-data">
    <p>
        <input type="file" name="file1" id="file" /><br />
        <input type="file" name="file2" id="file" /><br />
    </p>
    <p>
        <input type="submit" value="Upload" class="btn btn-default" />
    </p>
</form>
The first input is the protein summary output from Uniprot Parser. The second input is the peptide summary. Both have to be in .csv or .txt format and separated by tab.
{% end %} 
